<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div style="display: flex; justify-content: center; margin-bottom: 20px; margin-top: 20px;"> <!-- Updated for a more commonly supported layout -->
    <img style="width: 190px;" src="{{ url_for('static', filename='images/pmx-logo-round.png') }}" alt="Logo">
</div>
<div style="max-width: 800px; margin: auto; background-color: #f8f9fa; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <h2>Cambiar Contraseña</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}: {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}: {{ form.confirm_password(size=32) }}
            {% for error in form.confirm_password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('manage_users') }}" class="back-link" style="display: inline-block; margin-top: 20px;">⬅ Regresar</a>
</div>
{% endblock %}
</body>
</html>