<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PeriquitosMex - Eventos</title>
  <!-- External stylesheet for Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <!-- Link to custom stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FH9JT502WW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FH9JT502WW');
</script>
<body>

<!-- Sidebar/menu and header -->
{% include 'sidebar-menu.html' %}
{% include 'header.html' %}

<!-- Main content -->
<div class="mainContainer">

  <div class="container1">
    <!-- Section title -->
    <h1 class="titulo tituloformato"><b>Eventos PMX</b></h1>
    <!-- Horizontal line separator -->
    <hr style="width:50px;border:5px solid rgb(204, 185, 15)" class="w3-round">
    <!-- Section content -->
    <p class="paragraph1">
        En PeriquitosMex, fomentamos la difusión de conocimientos y experiencias. Reconocemos que uno de los aspectos 
        más gratificantes de la cría de aves de ornato son las conexiones humanas y las amistades que se forman en el proceso.
    </p>
    <p class="paragraph1">
        Por ello, en PeriquitosMex, coordinamos eventos que brindan una plataforma para que los criadores y entusiastas puedan 
        intercambiar experiencias, entablar conversaciones y disfrutar de momentos memorables en un ambiente comunitario.
    </p>
    <br>
    <p class="paragraph1">
        En esta sección, te proporcionaremos información sobre los diversos eventos que organizamos como comunidad, tanto 
        pasados como futuros. De este modo, podrás mantenerte informado y participar en aquellos eventos que te interesen o 
        que sean beneficiosos para ti.
    </p>
  </div>

  <div class="container1">
    <!-- Section title -->
    <h1 class="titulo tituloformato"><b>Eventos PMX - 2024</b></h1>
    <!-- Horizontal line separator -->
    <hr style="width:50px;border:5px solid rgb(204, 185, 15)" class="w3-round">

    <!-- Table -->
    <table class="event-table">
        <tr>
            <th style="width: 350px;">Evento</th>
            <th style="width: 200px;">Ubicación</th>
            <th style="width: 150px;">Fecha</th>
            <th style="width: 450px;">Descripción</th>
        </tr>
        <!-- Repeat this for each event, replace 'event1', 'location1', etc. with actual data -->
        <tr>
            <td>Evento 1</td>
            <td>Ubicación 1</td>
            <td>Fecha 1</td>
            <td>Descripción 1</td>
        </tr>
        <tr>
            <td>Evento 2</td>
            <td>Ubicación 2</td>
            <td>Fecha 2</td>
            <td>Descripción 2</td>
        </tr>
        <tr>
            <td>Evento 3</td>
            <td>Ubicación 3</td>
            <td>Fecha 3</td>
            <td>Descripción 3</td>
        </tr>
        <tr>
            <td>Evento 4</td>
            <td>Ubicación 4</td>
            <td>Fecha 4</td>
            <td>Descripción 4</td>
        </tr>
        <!-- ... -->
    </table>
  </div>

  <div class="container1">
    <!-- Section title -->
    <h1 class="titulo tituloformato"><b>Eventos PMX - 2025</b></h1>
    <!-- Horizontal line separator -->
    <hr style="width:50px;border:5px solid rgb(204, 185, 15)" class="w3-round">

    <!-- Table -->
    <table class="event-table">
        <tr>
            <th style="width: 350px;">Evento</th>
            <th style="width: 200px;">Ubicación</th>
            <th style="width: 150px;">Fecha</th>
            <th style="width: 450px;">Descripción</th>
        </tr>
        <!-- Repeat this for each event, replace 'event1', 'location1', etc. with actual data -->
        <tr>
            <td>Evento 1</td>
            <td>Ubicación 1</td>
            <td>Fecha 1</td>
            <td>Descripción 1</td>
        </tr>
        <tr>
            <td>Evento 2</td>
            <td>Ubicación 2</td>
            <td>Fecha 2</td>
            <td>Descripción 2</td>
        </tr>
        <tr>
            <td>Evento 3</td>
            <td>Ubicación 3</td>
            <td>Fecha 3</td>
            <td>Descripción 3</td>
        </tr>
        <tr>
            <td>Evento 4</td>
            <td>Ubicación 4</td>
            <td>Fecha 4</td>
            <td>Descripción 4</td>
        </tr>
        <!-- ... -->
    </table>
  </div>

    <div id="form-main">
    </div>
<!-- End page content -->
</div>

<!-- Footer -->
{% include 'footer.html' %}
<!-- Script for sidebar functionality -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script src="{{ url_for('static', filename='common-navbar.js') }}"></script>

</body>
</html>